extends base

block content 
  main
    section.hero-section
      .heading-container
        h1.heading-primary
          | CookieDaze: Flavor &amp; Health - Cakes for All Lifestyles!
        p.heding-description
          | Deliciously wholesome cakes for all lifestyles. Indulge in taste
          | without compromise - perfect for children, seniors, and those with
          | sugar concerns
        .header-btns
          a.btn.btn-blank(href='#speciality') Learn more &darr;
          a.btn.btn-fill(href='#CTA') Order Now
    section#speciality.section-ourSpeciality
      .container
        h2.heading-secondary
          | Crafted with care: what make our cake special
        .grid.grid--4-col
          // cart1
          .speciality
            svg.icon-speciality
              use(xlink:href='img/ssg.svg#heart')
            h3.heading-tartiary Health-first approch
            .speciality-content
              | At CookieDaze, we create delicious, healthy cakes for all ages
              | and dietary needs, including diabetics and children.
          // cart 2
          .speciality
            svg.icon-speciality
              use(xlink:href='img/ssg.svg#leaf')
            h3.heading-tartiary Natural Ingredients
            .speciality-content
              | We use natural ingredients, no chemicals or food colors, so you
              | can savor our cakes&apos; pure essence with confidence.
          // cart 3
          #speciality.speciality
            svg.icon-speciality
              use(xlink:href='img/ssg.svg#gift')
            // <ion-icon name="gift-outline" class="icon-speciality"></ion-icon>
            h3.heading-tartiary Extended Shelf Life
            .speciality-content
              | Our cakes are baked to perfection, guaranteeing a generous shelf
              | life without compromising on taste or freshness.
          // cart 4
          .speciality
            svg.icon-speciality
              use(xlink:href='img/ssg.svg#smile')
            h3.heading-tartiary Satisfaction Guarantee
            .speciality-content
              | Your satisfaction is our priority. Full refund if our cake
              | doesn&apos;t meet your expectations. Your happiness matters!
    section.section-catagory
      .container
        .grid.grid--3-col
          // G-cat-1
          .genaral-catagory
            img.genal-cat-img(src='img/genaral-catagory/sameday-delivery.jpg' alt='image of a bautifull and testy cake form our shop')
            h3.henral-cat-title.heading-tartiary
              | Same Day Delivery
          // G-cat-2
          .genaral-catagory
            img.genal-cat-img(src='img/genaral-catagory/midnight-delivary.jpg' alt='image of a bautifull and testy cake form our shop')
            h3.henral-cat-title.heading-tartiary
              | Midnight Delivery
          // G-cat-3
          .genaral-catagory
            img.genal-cat-img(src='img/genaral-catagory/bestseller.jpg' alt='image of a bautifull and testy cake form our shop')
            h3.henral-cat-title.heading-tartiary
              | Bestseller Cakes
          // G- cat-4
          .genaral-catagory
            img.genal-cat-img(src='img/genaral-catagory/brand new.jpg' alt='image of a bautifull and testy cake form our shop')
            h3.henral-cat-title.heading-tartiary Brand New Cakes
          // G- cat-5
          .genaral-catagory
            img.genal-cat-img(src='img/genaral-catagory/for-childens.jpg' alt='image of a bautifull and testy cake form our shop')
            h3.henral-cat-title.heading-tartiary Kid-Fit Cakes
          // G- cat-6
          .genaral-catagory
            img.genal-cat-img(src='img/genaral-catagory/for-diabetic.jpg' alt='image of a bautifull and testy cake form our shop')
            h3.henral-cat-title.heading-tartiary
              | Cakes for Diabetic Patient
    section#catagoryFlavour.section-catagoryFlavour
      .container
        h2.heading-secondary Choose Your Flavorful Delight
        .flavour-cat-btns
          .btn-filter
            p Filter
            svg.icon-filter
              use(xlink:href='img/ssg.svg#filter-icon')
          .btn-mid.cat-btn Chocolate
          .btn-mid.cat-btn Black Forest
          .btn-mid.cat-btn Butterscotch
          .btn-mid.cat-btn Pineapple
          .btn-mid.cat-btn Turffie
          .btn-mid.cat-btn Red Velvet
          .btn-mid.cat-btn Fresh Fruit
          .btn-mid.cat-btn Vanilla
        .grid.grid--4-col.all-flavour-carts
          //- Flavour cart -1
          each cake in cakes
            a.flavour-cart.cake-card-link(href=`/cake/${cake.slug}`)
              img.flavour-cake-img(src=`img/falvoured-cake/${cake.coverImage}` alt=`image of a ${cake.name} form our shop`)
              .cake-title-box
                .tag-outline.tag-vegB
                  .tag-circle.tag-veg-bg
                .cake-title= cake.name
              .cake-price-box
                p &#x20B9;
                p.cakePrice-value= cake.price
              .cake-rating-box
                .RAI
                  .rating-value= cake.ratingAvarage
                  svg.icon-rating
                    use(xlink:href='img/ssg.svg#star')
                  // <ion-icon name="star" class="rating-icon"></ion-icon>
                .numberOfPeole=  `(${cake.ratingQuantity})`
                button.add-to-cart Add &plus;
        .center-text
          span.all-cake-btn See all cakes &rarr;
    section.section-special
      .container
        h2.heading-secondary
          | Occasion Delights: Choose Your Celebration Cake
        .grid.grid--3-col
          // section cart -1
          .specialCatgory
            img.occational-cake-img(src='img/occational cake/birthdayCake.jpg' alt='Image of a birthaday cake form our shop')
            h3.heading-tartiary.center-text Cake for Birthday
          // section cart -2
          .specialCatgory
            img.occational-cake-img(src='img/occational cake/weadingCake.jpg' alt='Image of a birthaday cake form our shop')
            h3.heading-tartiary.center-text cake for wedding
          // section cart -3
          .specialCatgory
            img.occational-cake-img(src='img/occational cake/customCake.jpg' alt='Image of a birthaday cake form our shop')
            h3.heading-tartiary.center-text Custom Cakes
    section#Gallery.testimonial-section
      .container
        h2.heading-secondary.center-text Our Gallery
        .gallery-section
          .grid.gallery-images
            // row-1
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-1.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-2.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-3.jpg' alt='image of a cake form our shop')
            // row-2
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-4.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-5.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-6.jpg' alt='image of a cake form our shop')
            // row-3
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-7.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-8.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-9.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-10.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-11.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-12.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-13.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-14.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-15.jpg' alt='image of a cake form our shop')
            figure.gallery-item
              img.img-gallery(src='img/gallery/gallery-16.jpg' alt='image of a cake form our shop')
    section#CTA.section-cta
      .container
        .cta-content-box
          .cta-content
            h3.heading-secondary.center-text
              | Flavors &amp; Savings: Discover Today!
            p.cta-description
              | Join us to taste happiness and unlock exclusive savings. Don&apos;t miss out on flavorful delights and irresistible offers &mdash;sign up now!
            form.cta-form(action='#' name='sing-up')
              div
                label(for='full-name') Full name
                input#full-name(type='text' name='full-name' placeholder='Abc xyz' required='')
              div
                label(for='email') Email
                input#email(type='email' name='email' placeholder='abc@example.com' required='')
              div
                label(for='select-where') Where did you hear from us?
                select#select-where(name='select-where' required='')
                  option(value='') Please choose one option:
                  option(value='friends') Friends and family
                  option(value='youtube') YouTube video
                  option(value='podcast') Podcast
                  option(value='ad') Facebook ad
                  option(value='others') Others
              button.btn--form Sign up now
          .ctaImg
          // <img src="img/testimonial/cta-img.jpg" alt="image a sweet an healthy cake make in our shope" class="cta-img" />
